<script type="text/ng-template" id="/tree.html">
	<tree-grid-item model="model" columns="columns" group="subscription"> </tree-grid-item>
		<ul ng-show="model.display" ng-if="model.childs">  
			<li ng-repeat="child in model.childs" ng-click="onChildSelected(child, true, $event)">
			<div ng-include src="template" ng-init="template='/tree.html'"></div>
			</li>
		</ul>	
</script>


<ul>
	<li ng-repeat="model in data" ng-click="onChildSelected(model, true, $event)" ng-include="template" 
					ng-init="template='/tree.html'">  
	</li>
</ul>

